# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VS Code
.vscode/
.history/

# Editor directories and files
.idea/
.swp
.swo
*.bak
*.tmp

# Misc
*.lnk
~$*

# Ignore by default
!/.gitignore

.generated_files/
nbproject/
Makefile*
Package-*
private/

# React
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.env
.env.*

# Windows
Thumbs.db
Desktop.ini